Source: on-mitgliedsantrag
Section: net
Priority: optional
Maintainer: Martin Garbe <monomartin@opennet-iniative.de>
Build-Depends: debhelper (>=9)
Standards-Version: 4.0.0
Homepage: https://wiki.opennet-initiative.de/wiki/Opennet_Mitgliedsantrag
Vcs-Git: https://dev.opennet-initiative.de/git/on_mitgliedsantrag.git
Vcs-Browser: http://dev.opennet-initiative.de/browser/on_mitgliedsantrag

Package: on-mitgliedsantrag
Architecture: all
Depends: pdftk-java, libphp-phpmailer, libapache2-mod-php | libapache2-mod-fcgid, ${misc:Depends}
Suggests: apache2, php
Description: Mitgliedsantrag für die Opennet Initiative.
 Angehende Mitglieder müssen dieses Online Formular ausfüllen,
 um Mitglied zu werden.
